<div id="nav">
  <div class="hidden"><p><a href="index.aspx.html#nav-sub">Skip to Section Subnavigation</a> <a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
  <div id="nav-main">

    <ul>
      <li id="nav-li-home"><%= link_to "Home", root_path, id:"nav-link-home", class:"active" %></li>
      <li id="nav-li-about"><%= link_to "About", about_path, id:"nav-link-about" %></li>
      <li id="nav-li-seminars"><%= link_to "Seminars", seminars_path, id:"nav-link-seminars" %></li>
      <li id="nav-li-publications"><%= link_to "Publications", publications_path, id:"nav-link-publications" %></li>
      <li id="nav-li-news_and_initiatives"><%= link_to "News_and_Initiatives", news_and_initiatives_path ,id:"nav-link-news_and_initiatives" %></li>
    </ul>

  </div>
</div>
