<div id="nav">
  <div class="hidden"><p><a href="index.aspx.html#nav-sub">Skip to Section Subnavigation</a> <a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
  <div id="nav-main">

    <ul>
      <li id="nav-li-home"><%= link_to "Home", root_path, id:"nav-link-home", class: action_name=="home"? "active" :"noactive" %></li>
      <li id="nav-li-about"><%= link_to "About", about_path, id:"nav-link-about" , class: action_name=="about"? "active" :"noactive" %></li>
      <li id="nav-li-seminars"><%= link_to "Seminars", seminars_path, id:"nav-link-seminars", class: action_name=="seminars"? "active" :"noactive" %></li>
      <li id="nav-li-publications"><%= link_to "Publications", publications_path, id:"nav-link-publications", class: action_name=="publications"? "active" :"noactive" %></li>
      <li id="nav-li-news_and_initiatives"><%= link_to "News_and_Initiatives", news_and_initiatives_path ,id:"nav-link-news_and_initiatives", class: action_name=="news_and_initiatives"? "active" :"noactive" %></li>
    </ul>

  </div>
</div>
