<link href="css/home.css" rel="stylesheet" type="text/css" media="screen" />
<body class="tier-2 layout-n0-p1-s1" id="home">
  <div id="gcheader"></div>
    <div id="container">
        <div id="inner-container">

			<!-- header -->
			<div id="header">
				<div id="masthead">
					<div><a href="index.aspx.html">Global Connections</a></div>
				</div>

				<div id="nav">
					<div class="hidden"><p><a href="index.aspx.html#nav-sub">Skip to Section Subnavigation</a> <a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
					<div id="nav-main">

<ul>
							<li id="nav-li-home"><%= link_to "Home", root_path, id:"nav-link-home", class:"active" %></li>
							<li id="nav-li-about"><%= link_to "About", about_path, id:"nav-link-about" %></li>
							<li id="nav-li-seminars"><%= link_to "Seminars", seminars_path, id:"nav-link-seminars" %></li>
							<li id="nav-li-publications"><%= link_to "Publications", publications_path, id:"nav-link-publications" %></li>
							<li id="nav-li-news_and_initiatives"><%= link_to "News_and_Initiatives", news_and_initiatives_path ,id:"nav-link-news_and_initiatives" %></li>
					</ul>

					</div>
				</div>
			</div>
			<!-- //header -->
			<!-- page content -->
			<div id="content" class="content clearfix">
				<div class="hidden"><p><a href="index.aspx.html#primary-content">Skip to Page Content</a></p></div>
				<div id="tertiary-content" class="tc">

					<div id="nav-sub" class="nav">

                    </div>
				</div>


            <div id="primary-content" class="pc">

    	<img src="images/home/splash.jpg" alt="Global Connections encourages school leaders WORLDWIDE to develop global CONSCIOUSNESS and to promote international COOPERATION in their schools."  />

            </div>
            <div id="secondary-content" class="sc">

    	<div class="leftside">
        	<!--<a href="news_and_initiatives/GCSemina
          rXVI_thoughts.aspx.html"><img src="images/home/btn_declarationXVI.gif" alt="Thoughts about GC Seminar XVI"/></a>-->
        	<a href="news_and_initiatives/GCSeminarXVII.aspx.html"><img src="images/home/btn_GCXVII.jpg" alt="Global Connections XVII"/></a>

          <div class="address">
            	<img src="images/common/gcf.gif" alt="Global Connections Foundation"/>
              <p>Keystone Academy<br />
                No.11, Anfu Street, Houshayu, Shunyi District<br />
                Beijing 101318 CHINA<br />
                <br />
                <em>&copy; 2014 Global Connections Foundation</em></p>
            </div>
        </div>
    	<div class="rightside">
        	<h2>Global Connections Foundation News</h2>
            <div class="news-list">
           		<ul class="news">
                 <li>
                       <h4>Global Connections Seminar XVII, January 12-19, 2016</h4>
                   <p>Peace Education within Faith Diversity      &nbsp;&nbsp;&nbsp;<a class="readmore" href="news_and_initiatives/GCSeminarXVII.aspx.html"><strong>More</strong></a> </p>
                 </li>
                  <li>
                        <h4>Global Connections Seminar XVI, June 21-30, 2014</h4>
                    <p>Peace Education: Great Teaching: Educators for Peace      &nbsp;&nbsp;&nbsp;<a class="readmore" href="news_and_initiatives/GCSeminarXVI.aspx.html"><strong>More</strong></a> </p>
                  </li>
                   <li>
                     <h4>Thoughts about Global Connections XVI</h4>
                    <p>See <a class="readmore" href="news_and_initiatives/GCSeminarXVI_thoughts.aspx.html"><strong>More</strong></a>                                        </li>

                </ul>
                <span class="viewall"><a href="news_and_initiatives/index.aspx.html">Recent News</a></span>
            </div>
        </div>

            </div>
        </div> <!--closing content-->
        </div>
    </div>


<script type="text/javascript" language="JavaScript">
	// <![CDATA[
	// An array of links should keep their https
	var SI_skipHTTPS = new Array(
		'/Alumni/$', // $ all links are de-https'd with this path /Alumni/
		'/Alumni/index.aspx'
		);
	SI_deHTTPSLinks();
	// ]]>
</script>



<div id="gcfooter"></div>

</body>
